DATABASE_URL=./data/asset-service.db
PROTECTION_SVC_URL=http://localhost:8000
BLOCKCHAIN_SVC_URL=http://localhost:3001
PORT=3002
CHAIN_NAME=polygon-amoy
REGISTRY_ADDRESS=0x12fe026abacd896956ccf71044640af04c7e8a97
